.list-containerF {
    height: 540px;
  }
  
  .listItemF {
    width: 250px;
    height: 370px;
    background: black;
    margin-right: 64px;
    // overflow: hidden;
    cursor: pointer;
    color: white;
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #111827;

    }

    // video {
    //   width: 100%;
    //   height: 140px;
    //   object-fit: cover;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    // }
  
    // &:hover {
    //   width: 325px;
    //   height: 300px;
    //   position: absolute;
    //   top: -150px;
    //   -webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    //   box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.07);
    //   border-radius: 5px;
  
    //   img {
    //     height: 140px;
    //   }
  
    //   .itemInfo {
    //     display: flex;
    //     flex-direction: column;
    //     padding: 5px;
  
    //     .icons {
    //       display: flex;
    //       margin-bottom: 10px;
  
    //       .icon {
    //         border: 2px solid white;
    //         padding: 5px;
    //         border-radius: 50%;
    //         margin-right: 10px;
    //         font-size: 16px;
    //       }
    //     }
    //     .itemInfoTop {
    //       display: flex;
    //       align-items: center;
    //       margin-bottom: 10px;
    //       font-size: 14px;
    //       font-weight: 600;
    //       color: gray;
  
    //       .limit {
    //         border: 1px solid gray;
    //         padding: 1px 3px;
    //         margin: 0 10px;
    //       }
    //     }
  
    //     .desc {
    //       font-size: 13px;
    //       margin-bottom: 10px;
    //     }
  
    //     .genre {
    //       font-size: 14px;
    //       color: lightgray;
    //     }
    //   }
    // }
  }
  
  .list-details {
    padding: 0;
    overflow: hidden;
    .cont {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: #9ca3af;
    }
    .str {
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      color: #111827;
      margin-top: -12px;
    }
    .genre{
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: #9CA3AF;
      margin-top: 0px;
    }
  }
  
  .imdb{
      height: 40px;
      display: flex;
      justify-content: space-between;
      margin-top: -20px;
  
      .imdb-1{
          display:flex ;
          flex: 1;
          align-items: center;
          justify-content: space-between;
          height: inherit;
       }
  
       .imdb-p{
          background: gold;
          font-size: 14px;
          padding: 2.6px;
          font-weight: 700;
       }
       .imdb-price{
          color: black;
          font-size: 14px;
          margin: auto;
       }
  
       .imdb-2{
          display: flex;
          flex: 1;
          justify-content: center;
          margin-top: 9px;
  
          .per{
              color: black;
              margin: 0;
              margin-left: 10px;
              font-family: 'DM Sans';
              font-style: normal;
              font-weight: 400;
              font-size: 15px;
           }
       }
   }
  